<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

        {{ content }}

    {% include footer.html %}
    {% include backToTop.html %}
    <script src="{{ "/js/main.js" | prepend: site.baseurl }}" charset="utf-8"></script>
    <script src="{{ "/js/scroll.min.js" | prepend: site.baseurl }}" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/{{ site.katex_version }}/katex.min.js"></script>
    <script src="{{ site.baseurl }}/js/katexTag.js"></script>
  </body>

</html>
